In [1]:
import pandas as pd

notas = pd.read_csv("ratings.csv")
notas.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [2]:
notas.shape

(100836, 4)

In [3]:
notas.columns = ["usuarioId", "filmeId", "notas", "momento"]
notas.head()

   usuarioId  filmeId  notas    momento
0          1        1    4.0  964982703
1          1        3    4.0  964981247
2          1        6    4.0  964982224
3          1       47    5.0  964983815
4          1       50    5.0  964982931

In [4]:
notas['notas'].unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [5]:
notas['notas'].value_counts()

notas
4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: count, dtype: int64

In [6]:
notas['notas'].mean()

3.501556983616962